*{
    padding:0px;
    border:1px solid black;
    margin: auto;
    box-sizing: border-box;
}


body div{
    margin-top: 2%;
    width: 80%;
}

.header {
    height: 100px;
    
    background-color: ; 
}

.first-container {
    height: 600px;
    
    background-color: ;
}

.sec-container {
    height: 600px;
  
    background-color: ;
    
    
}
  .sec-container.clearfix::after {
      content: "";
      display: table;
      clear:both ;
  }

  .article {
    background-color:blue ;
    padding:0px;
    border:0px;
  }
     
  #row.article {
    height: 50px;
    width: 100%;
}



  #column1{
     width: 25%;
     height: 500px;
     float:left;  
}

   #column2 {
    width: 40%;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    float:left;
}

#column3 {
    width: 25%;
    height: 500px;
    float:left;
}

  #footer {
    height: 100px;
    width: 80%;
    background-color: ; 
}